

.box {
    background-color: lightgrey;
    color: black;
    padding: 5px;
    padding-bottom: 10px;
    margin: 20px;
    line-height: 40px;
    border-radius: 5px;

}

#today-temp {
  
    border: dotted 5px black;
    box-sizing: border-box;
    padding: 1px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#uv-index {
  
}

.container{
display: flex;
background-color: rgba(71, 3, 62, 0.61);
width: 90%;
}

#search-button {
    background-color: purple;
    margin-block: black;
    
    
}

.title{
    text-align: center;
    color: black
    
}

ul {
    list-style: none;
}

.flex-d{


}